.video-proyecto{
    text-align: center;
    padding: 30px 20px;
}

.video-presentacion{
    width: 100%;
    max-width: 1200px;

    aspect-ratio: 16 / 9;

    border-radius: 10px;

    display: block;
    margin: 0 auto;
}